#ReturnLabelPopUp {
     
     position: absolute;
     top: 100px;
     width:40%;
     right:400px;
     min-height:20%;
     z-index: 100;
     background-color:#FFFFFF;
     border:1px solid #000000;
     color:#000000;
     display: none; 
     box-shadow: 10px 10px 30px #888888;
     border-radius: 10px;    
}




