table.newview, .newview th, .newview td{
   border: 2px solid #fafafa;
   height: 135px;
} 

.newview th{
height:30px !important;_
color:#2892EC;
}
#qcfail_table,#qcfail_table tr,#qcfail_table td{
	border: none;
	padding:0px;
}
#calldatatable,#calldatatable tr,#calldatatable td{
  padding:5px;
  border:1px solid #ccc;
}
#calldatatable th{
  background: #ccc;
  text-align: center;
}

#callrecorddatatable,#callrecorddatatable tr,#callrecorddatatable td{
  max-height: 150px;
  padding:5px;
  border:1px solid #ccc;
 }
#callrecorddatatable th{
  background: #ccc;
  text-align: center;
}
#show_social_profile,#hide_social_profile,#show_courier_text,#hide_courier_text{
width: 82px; 
float: right;
padding: 5px; 
text-align: right; 
margin: 14px 0px 0px -2px; 
background: #eaeaea; 
float: right; 
font-weight: bold;
cursor: pointer;
}
#hide_social_profile,#hide_courier_text{
    display: none;
}
#social_profile_inner{
    border-bottom-color: #EAEAEA;border-bottom-style: solid;border-bottom-width: 2px;float: left;
    width: 100%;
}
#social_profile,#show_courier_frame{
    display:none;float:left;width:680px;background:#fafafa;border:1px solid #eaeaea;margin-bottom:22px;padding:5px;
}
#show_courier_frame{height:400px;}
#show_courier_text,#hide_courier_text{width:130px;}
#social_bio a,#social_bio {
  float:left;
     background: none repeat scroll 0% 0% #eaeaea;
     font-weight: bolder;
     margin: 5px 5px 5px 0px;
     padding: 2px;
     text-transform: uppercase;
}
.jitViewTable td,.jitViewTable th,.unicom-left-status td,.unicom-left-status th{
	border: none;
	height: auto;

}
.productPower b {
    color: black;
}
.email_zendesk{
	border: 1px solid #CCCCCC;
    float: left;
    height: 18px;
    margin-left: 180px;
    margin-top: 30px;
    padding: 10px;
    width: 465px;
}
.email_zendesk_button{
	background: none repeat scroll 0 0 #EAEAEA;
    border: medium none;
    float: right;
    font-weight: bold;
    height: 39px;
    margin: -40px 180px 5px;
    width: 43px;
}
.email_list_box{
	border-right: 4px solid #CCCCCC;
    float: left;
    margin-left: 142px;
    margin-right: 15px;
    margin-top: -5px;
    width: 300px;
}
.email_form{
  float: right;
    margin-top: -72px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
}
.email_list{
	float:left;padding:15px;margin-bottom:5px;border-bottom:2px solid #eee;width:270px;
}
.chat_list_single{
	float:left;padding:0 15px 15px;margin-bottom:5px;border-bottom:2px solid #eee;width:270px;
}
.email_list:nth-child(even) {background: #CCC}
.email_list:nth-child(odd) {background: #eee}
.chat_list_single:nth-child(even) {background: #CCC}
.chat_list_single:nth-child(odd) {background: #eee}

.order_info_block a{
  color: #000000;
    font-size: 14px;
    font-weight: normal;
    padding: 3px;
}
.productPower{
	text-align: left;
	font-weight: normal;
   color:black;
}
.pre_email{
	white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word; width:1200px;

}

.pre_email_span{
	width: 900px;
    margin-left:135px;
	border-bottom: 5px solid #EAEAEA;
    float: left;
    font-size: 24px;
    font-weight: bolder;
    height: 100px;
    margin-bottom: 5px;
    margin-top: -30px;
    padding-top: 38px;
    padding-bottom: 10px;
    text-align: center;
   
}
.pre_email_span a{color:gray;}
.pre_email_span_email_history{
	 color: #808080;
    float: left;
    font-weight: bolder;
    margin-top: 3px;
  
}
.email_format_zendesk{
	background: none repeat scroll 0 0 #FAFAFA;
    float: left;
    padding: 40px 40px 40px 6%;
    width: 100%;
    word-wrap: break-word;
}
.livechat_format{
	background: none repeat scroll 0 0 #FAFAFA;
    float: left;
    padding: 40px 40px 40px 6%;
    width: 100%;
    word-wrap: break-word;
}
#email_format_zendesk{
	display: none;
}
#livechat_format{
	display: none;
}

#feedback { 
  height: 115px; 
  width: 104px; 
  position: fixed; 
  top: 50%; 
  z-index: 999;
  left:98%;
  background: #494949;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg)
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a { 
  display: block; 
  background: #494949;
  height: 150px; 
  width: 136px; 
  padding: 7px 16px;
  font-family: arial;
  color: #fff; 
  font-size: 20px; 
  font-weight: bold; 
  text-decoration: none; 
  border-bottom: solid 1px #333;
  border-left: solid 1px #333;
  border-right: solid 1px #fff;
}

#feedback a:hover { 
  background: #06c; 
}
#notsync{
  border: 1px solid #668CB7;
  color: red;
  font-size: 28px;
  margin: 114px 0 0 94px;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 80%;
}
.pre_chat_span{
  border-bottom-color: #EAEAEA;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    float: left;
    font-size: 24px;
    font-weight: bolder;
    height: 124px;
    margin-bottom: 20px;
    margin-left: 135px;
    margin-top: -71px;
    padding-bottom: 10px;
    padding-top: 38px;
    text-align: center;
    width: 900px;
}
.chat_form{
  float: right;
    margin-top: -140px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
}
   
#freshdesktable,#freshdesktable tr,#freshdesktable td{
  max-height: 150px;
  padding:5px;
  border:1px solid #ccc;
}
#freshdesktable th{
  background: #ccc;
  text-align: center;
}
  .FreshDeskPopup{
    position: fixed;
    overflow-y:scroll;
    left:30%;
    top:2%;
    height: 540px;
    clear:both;
    width:48%;
    padding: 57px 1px 57px 51px;
    /*min-height:250px;*/
    visibility:hidden;
    /*width:500px;*/
    z-index:99999999999999999999;
    background-color:#FFFFFF;
    box-shadow: 10px 10px 30px #888888;
    border:2px solid #677068;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
#spanFresh{
  width: 100%;
float: left;
color: rgba(87, 87, 87, 1);
font-weight: bold;
font-size: 16px;
font-family: arial;
font-style: normal;
}

.inputs2 {
background: #f5f5f5;
font-size: 0.8rem;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: none;
padding: 13px 10px;
/*width:270px; */
margin-bottom: 7px;
box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
clear: both;
margin-right: 36px;
margin-top: 5px;
width:95%;
}
.inputs2:focus {
background: #fff;
box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
outline: none;
}

.inputs2:-webkit-input-placeholder {
color: #b5b5b5;
}
  .white_content {
        display: none;
        position: absolute;
        top: 450px;
        left: 10%;
        width: 80% !important;
        padding: 16px;
        border: 3px solid black;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
 #freshDiv{
  float: right;
  width: 30%;
  margin-bottom: 6px;
  margin-right: 21px;
 }
 .popupTopLabel{
  float: left; 
  padding: 8px 25px;
  font-size: 16px;
  font-weight: bold; 
  margin-top: -22px; 
  background: none repeat scroll 0% 0% #18719B; 
  border-radius: 0px 0px 10px 10px; 
  color: white; 
  box-shadow: 0px -4px 7px 8px rgb(204, 204, 204); 
  margin-bottom: 15px;
 }
 #freshdeskcontentheader{
 background: rgba(24, 113, 155, 1);
float: left;
width: 101%;
margin: -3px -6px 2px -17px;
height: 21px;
padding: 11px;
color: white;
font-weight: 400;
margin-left: -16px;
 }
 #freshdeskDesp
 {
  width: 100%;
  height: 400px;
  overflow:auto;
  padding: 5px;
  float: left;
  white-space: pre-wrap;
 }
 #noteditablestyle{
  font-size: 16px; 
  max-height: 125px;
  margin-bottom: 15px;
  overflow: auto;
  font-family: arial; 
  padding: 9px;
  background: none repeat scroll 0% 0% rgb(237, 234, 234);
  white-space: pre-wrap; 
 }
 #SubjectFreshDesk
 {
  float: left;
  padding: 10px;
  cursor: pointer; 
  border-bottom: 1px dotted black;
  width: 94%;
  float: left; 
  color: #575757; 
  font-weight: bold; 
  font-size: 16px; 
  font-family: arial; 
  font-style: normal;
 }
 .thumb {
    border: 1px solid #000000;
    height: 75px;
    margin: 10px 5px 0 0;
}