@charset "utf-8";
/* CSS Document */

*{padding:0px;margin:0px;}
body {color: #2d2d2d;font-family: 'Open Sans', sans-serif;font-weight: 300;text-align: left;font-size: 14px; word-wrap: break-word;}
a{text-decoration: none;}
h2{color: #2892EC;font-size: 26px;font-weight: 300;}
h3{ color: #2892EC;font-size: 20px;font-weight: 300;margin-left: 66px; margin-bottom: 15px;}
p{float:left;width:100%;}
.font_italic{font-style: italic;}
 /***** top menu not using******/
.top_menu{float:left;width:100%; background: none repeat scroll 0 0 #BCBCBC;}
.top_menu .top_center{margin: 0 auto;width: 1085px;}
.top_menu .top_center .top_center_left{float:left;}
.top_menu .top_center .top_center_left .page_link{float:left;padding: 0px 5px 0px 0px;}
.top_menu .top_center .top_center_left .page_link a{float:left;height: 30px;padding: 10px 5px;color: #FFFFFF;float: left;text-decoration: none; width: 130px; text-align: center;font-size: 18px;}
.top_menu .top_center .top_center_left a.activ{color: #bcbcbc; background: none repeat scroll 0 0 #FFFFFF;}
.top_menu .top_center .top_center_right{float:right;  padding: 8px 20px 0;}
.top_menu .top_center .top_center_right .user_id{float:left;text-align: center;width: 200px;color: #FFFFFF;}
.top_menu .top_center .top_center_right .user_id a{color: #FFFFFF;}
.top_menu .top_center .top_center_right .user_img{float:left;}
.top_menu .top_center .top_center_right .user_log{float:left;}
 /***** top menu using******/
 .menu {    background: none repeat scroll 0 0 #256C89;background:url(/public/images/menu_bg.gif);float: left;font-size: 11px;padding: 0 13px;width: 98%;}
/* remove all the bullets, borders and padding from the default list styling */
.menu ul {padding:0;margin:0;list-style-type:none; height:34px;}

/* style the sub-level lists */
.menu ul ul {width: auto;}

/* float the top list items to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu ul li {float:left;height:34px;line-height:34px;}

/* style the sub level list items */
.menu ul ul li {display:block;width: auto;height:auto;position:relative;line-height:1em;}

/* style the links for the top level */
.menu a, .menu a:visited {display:block;float:left;height:100%;font-size:11px;text-decoration:none;color:#fff;padding:0 21px 0 17px;}
.menu a.current{background:url(/public/images/menu_bg.gif) repeat-x center;}
/* style the sub level links */
.menu ul ul a, .menu ul ul a:visited {display:block;background:#57c0e8; border-bottom:1px #81dafc solid; color:#fff;width:12em;height:100%;line-height:1em;padding:1em 1em;}
.menu ul table ul a, .menu ul table ul a:visited  {width:14em; w\idth:12em;}


/* style the table so that it takes no part in the layout - required for IE to work */
.menu table {position:absolute; left:0; top:0; font-size:1em; z-index:-1;}
.menu ul ul table {lef\t:-1px;}
.menu ul ul table ul.left {margin-lef\t:2px;}

.menu li:hover {position:relative;}
* html .menu a:hover {position:relative;}

/* style the third level background */
.menu ul ul ul a, .menu ul ul ul a:visited {background:#57c0e8;}
/* style the fourth level background */
.menu ul ul ul ul a, .menu ul ul ul ul a:visited {background:#57c0e8;}
/* style the sub level 1 background */
.menu ul :hover a.sub1 {background:url(/public/images/arrow.gif) no-repeat right #309dc7;}
/* style the sub level 2 background */
.menu ul ul :hover a.sub2 {background:url(/public/images/arrow.gif) no-repeat right #088bb4;}

/* style the level hovers */
/* first */
.menu a:hover {color:#fff;background:url(/public/images/menu_bg.gif) repeat-x center;}
.menu :hover > a {color:#fff;background:url(/public/images/menu_bg.gif) repeat-x center;}
/* second */
.menu ul ul a:hover{color:#fff;background:url(/public/images/menu_bg_a.gif) repeat-x center;}
.menu ul ul :hover > a {color:#fff;background:url(/public/images/menu_bg_a.gif) repeat-x center;}
/* third */
.menu ul ul ul a:hover {background:url(/public/images/menu_bg_a.gif) repeat-x center;}
.menu ul ul ul :hover > a {background:url(/public/images/menu_bg_a.gif) repeat-x center;}
/* fourth */
.menu ul ul ul ul a:hover {background:url(/public/images/menu_bg_a.gif) repeat-x center;}


/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {visibility:hidden;position:absolute;height:0;top:34px;left:0;width:14em; z-index:999;}

/* position the third level flyout menu */
.menu ul ul ul{left:14em;top:0;width:14em;}

/* position the third level flyout menu for a left flyout */
.menu ul ul ul.left {left:-14em;}


/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul, .menu ul a:hover ul {visibility:visible; height:auto; padding-bottom:3em; background:transparent url(/public/images/trans.gif);}
/* keep the third level hidden when you hover on first level list OR link */
.menu ul :hover ul ul{visibility:hidden;}
/* keep the fourth level hidden when you hover on second level list OR link */
.menu ul :hover ul :hover ul ul{visibility:hidden;}
/* make the third level visible when you hover over second level list OR link */
.menu ul :hover ul :hover ul{visibility:visible;}
/* make the fourth level visible when you hover over third level list OR link */
.menu ul :hover ul :hover ul :hover ul {visibility:visible;}
.menu .cs_user_mngt  {
float:left;
/*width:60%;*/
width:80%; 
}
.menu .cs_user_details{
float:right;
/*width:250px;*/
width:19%;
line-height: 34px;
}
.menu .cs_user_details a{
	float:right;
}

 /***** page structure ******/
.cs_admin{float:left;width:100%;}
.cs_admin .cs_admin_center{margin: 0 auto;padding: 50px;width: 1090px;min-height: 1000px;}
.cs_admin .cs_admin_left{ float:left;width: 695px; padding-right: 10px;}
.cs_admin .cs_admin_right{ float:left;width: 355px;padding-left: 10px;}
 /***** Order status block ******/
.cust_order_block{float:left;width:690px ;border: 3px solid #bcbcbc;  margin-bottom: 22px;}
.cust_order_block .cust_order_block_left{float:left;padding: 13px;width:300px;min-height: 139px;}
.cust_order_block .cust_order_block_left p.order_i span{font-weight:600}
.cust_order_block .cust_order_block_left .order_id{background: none repeat scroll 0 0 #E58E13;color: #FFFFFF;float: left;padding: 10px;font-size: 26px;margin-bottom: 7px;font-weight: 500;}
.cust_order_block .cust_order_block_right{float:right;padding: 13px;width: 335px;min-height: 139px;}
.cust_order_block .cust_order_block_right .order_value{float:left;width:100%; min-height: 47px;}
.cust_order_block .cust_order_block_right .order_value p{float:right;text-align:right;}
.cust_order_block .cust_order_block_right .order_history{float:left;width:100%;padding-top: 10px;}
.cust_order_block .cust_order_block_right .order_history .cust_details{float:left;text-align:right;width: 50%}
.cust_order_block .cust_order_block_right .order_history .cust_details .order_his_info{float:left;}
.cust_order_block .cust_order_block_right .order_history .order_his_info{float:right;font-size: 12px;width: 50%; text-align: right;}


 /*****  Address block ******/
.cust_address_block{float:left;width:100%;}
.cust_address_block .cust_address_bill{float:left;border: 3px solid #bcbcbc;min-height: 233px; width: 210px; padding: 13px;}
.cust_address_block .cust_shipp_add{float:left;border: 3px solid #bcbcbc;width: 210px;min-height: 233px; margin: 0px 22px; padding: 13px;}
.cust_address_block .cust_add_shipp{float:left;border: 3px solid #bcbcbc;width: 134px;min-height: 233px; padding: 13px;}
 /*****  Order info block ******/
.order_info_block{float:left; width: 664px;border: 3px solid #bcbcbc;  margin-bottom: 22px; margin: 22px 0px; padding: 13px;}
.order_info_block .order_table{float:left; width: 100%; color:#e58e13;font-weight: bold;}
 .product_detils{float:left;}
.order_info_block .order_table_odd{float:left; width: 100%;padding: 5px 0; }
.order_info_block .order_table_even{float:left; width: 100%;padding: 5px 0; background: none repeat scroll 0 0 #EFEFEF; }
.order_info_block .order_sub_total{float:left;width: 100%;border-top:1px solid #bcbcbc;padding-top: 5px;}
.order_info_block .order_sub_total span{float:left;width: 42%;}
/*****  Order gift block ******/
.order_gift_block{float:left; width: 664px;border: 3px solid #bcbcbc;  margin-bottom: 22px;min-height: 60px; padding: 13px;}

 /***** Payment info block ******/
.payment_method_block{float:left;width:348px;border: 3px solid #bcbcbc;text-align: center;min-height: 165px; margin-bottom: 22px;}
.payment_method_block .payment_method_left{float:left;padding: 13px;width: 131px;}
.payment_method_block .payment_method_right{float:left;padding: 13px;width: 164px;}
.payment_method_block .payment_method_left .pay_method{background: none repeat scroll 0 0 #CCCCCC;float: left;padding: 7px;font-size: 20px;margin-bottom: 7px;width: 135px;}
.payment_method_block .payment_method_right .pay_method{background: none repeat scroll 0 0 #CCCCCC;float: left;padding: 7px;font-size: 20px;margin-bottom: 7px; width:135px}
 /***** Comment block ******/
.cust_comment_block{float:left;width:348px;border: 3px solid #bcbcbc;text-align: center;}
.cust_comment_block .comment_box{float:left;width:320px;border-bottom: 3px solid #bcbcbc;padding: 14px;}
.cust_comment_block .comment_box textarea{float:left;width:297px;border: 1px solid #bcbcbc;padding: 10px;min-height: 55px;resize: vertical;margin-bottom: 9px;color: gray;}
.cust_comment_block .comment_box .process_n{float:left;width:145px;text-align: left;padding: 15px 2px 0; color: #2D2D2D;border: medium none;}
.cust_comment_block .comment_box .process_n option{}
.cust_comment_block .comment_box .comment_submit{float: right;width:130px;background: none repeat scroll 0 0 #2892EC;color: #FFFFFF;font-size: 22px;font-weight: 500;border: 1px solid #EFEFEF;}
.cust_comment_block .comment_display{    float: left;
    font-size: 14px;
    max-height: 350px;
    overflow: auto;
    padding: 14px;
    width: 320px;}
.cust_comment_block .comment_display .comment_info{float:left;width:100%;}
.cust_comment_block .comment_display .cust_img{float:left;width: 50px;}
.cust_comment_block .comment_display .cust_name_b{float:left;width:260px;text-align: left;font-size: 11px;}
.cust_comment_block .comment_display .cust_name_b .cust_name{float:left;width:100%}
.cust_comment_block .comment_display .comment_text{float:left;width:100%;text-align: left;padding-bottom: 10px;border-bottom: 1px solid #bcbcbc;}


/* edit shipping form 5 jan 2013 */
#editShipping{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 999;
    top:25%;
    left:25%;
    padding: 10px;
    }
#editShipping .form_header{
   float:left;
   width: 100%;
   }
#editShipping .form_header h2{
   float:left;
   }
 #editShipping .form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }
#editShipping .required{
float:left; color:red;font-size:10px;width:118px;
}
#editShipping label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    width: 84px;
}
#editShipping input[type="text"], textarea {
    border: 1px solid #999999;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1em;
    line-height: 140%;
    padding: 3px;
    float: left;
     margin: 5px;
}
#editShipping .submit_form_button{float:left;width:100%; text-align: center;}

.product_status_button{
	background: #3399ff; 
	color: #000; border: 1px solid #000; 
	padding: 3px; 
}

#product_status_popup{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #000000;
    border-radius: 5px 5px 5px 5px;
    cursor: default;
    display: none;
    height: auto;
    left: 58%;
    position: absolute;
    top: 60%;
    width: auto;;
    
}

/* edit billing form */
#editBilling{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 999;
    top:25%;
    left:25%;
    padding: 10px;
    }
#editBilling .form_header{
   float:left;
   width: 100%;
   }
#editBilling .form_header h2{
   float:left;
   }
 #editBilling .form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }
#editBilling .required{
float:left; color:red;font-size:10px;width:118px;
}
#editBilling label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    width: 84px;
}
#editBilling input[type="text"], textarea, select {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    float: left;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1em;
    line-height: 140%;
    margin: 5px;
    padding: 3px;
    width: 198px;
}
#editBilling .submit_form_button{float:left;width:100%; text-align: center;}

/* login form */
.login_form{
    height: 250px;
    margin: 100px auto;
    padding: 0;
    width: 600px;
	padding: 20px;
	border: 2px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	background: none repeat scroll 0 0 transparent;
}
.login_form h3{
    float: left;
    font-size: 30px;
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    width: 100%;
	}
	.login_form dl.submit{
    float: left;
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    width: 100%;
	}
.login_form img{
      margin: 0 auto;
    text-align: center;
    width: 33%;
	border: medium none;
	}
.login_form .auth_failure{    
	float: left;
    margin-top: 25px;
    padding:10px;
    text-align: left;
    width: 95%;
	border: 1px solid #EFEFEF;
	}
.auth_failure .pro_next{
  background: none repeat scroll 0 0 #668CB7;
    border: 3px solid #668CB7;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 16px;
    margin: 8px 0 0;
    text-align: center;
    text-decoration: none;
    width: 135px;
}
.login_form .auth_failure dl{ 
    float: left;
    margin: 0;
    padding:10px; }
    .product_detils a{float:left;position:relative;}
.productPower{
	display: none; 
	border: 1px solid #000000; 
	position: absolute; 
	padding: 0; 
	z-index: 999; 
	left:21%; 
	margin-top:0px;
	padding: 10px; 
	background: none repeat scroll 0 0 #FFFFFF; 
	border-radius: 10px 10px 10px 10px;
}
.productBifocal{
	display: none; 
	border: 1px solid #000000; 
	position: absolute; 
	padding: 0; 
	z-index: 999; 
	left:21%; 
	margin-top:0px;
	padding: 10px; 
	background: none repeat scroll 0 0 #FFFFFF; 
	border-radius: 10px 10px 10px 10px;        
}

.productImage{
	display: none; 
	border: 1px solid #000000; 
	position: absolute; 
	padding: 0; 
	z-index: 999; 
	left:21%; 
	margin-top:0px;
	padding: 10px; 
	background: none repeat scroll 0 0 #FFFFFF; 
	border-radius: 10px 10px 10px 10px;
}
.reassignbarcode{
	display: none; 
	position: absolute; 
	padding: 0; 
	z-index: 999; 
	left:21%; 
	margin-top:0px;
	padding: 10px; 
	background: none repeat scroll 0 0 #FFFFFF; 
	border-radius: 10px 10px 10px 10px;
}

/* edit billing form */
#editStatus{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 350px;
    z-index: 999;
    left: 64%;
    top: 15%;
    padding: 10px;
    }
#editStatus .form_header{
   float:left;
   width: 100%;
   }
#editStatus .form_header h3{
   float:left;
   }
 #editStatus .form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }
#editStatus .required{
float:left; color:red;font-size:10px;width:118px;
}
#editStatus label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    margin-top: 10px;
    width: 84px;
}
#editStatus  select {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    float: left;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1em;
    line-height: 140%;
    margin: 5px;
    padding: 3px;
    width: 235px;
}
#editStatus .submit_form_button{float:left;width:100%; text-align: center;}

/* No Response SMS form */
.noresponsesmsform{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 999;
    right:10%; 
    margin-top:88px;;
    padding: 10px;
    }
.noresponsesmsform .form_header{
   float:left;
   width: 100%;
   padding-bottom: 35px;
   }
.noresponsesmsform .form_header h2{
   float:left;
   margin-left: 30px;
   }
 .noresponsesmsform .form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }

.noresponsesmsform label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    width: 84px;
}
.noresponsesmsform input[type="text"]{
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    float: left;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1em;
    line-height: 140%;
    margin: 5px;
    padding: 3px;
    width: 198px;
}
.noresponsesmsform .submit_form_button{float:left;width:100%; text-align: center;}

/* Confirm payment (ZenDesk) form */
.confirmpaymentbyzendeskform{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 999;
    right:10%; 
    margin-top:160px;;
    padding: 10px;
    }
.confirmpaymentbyzendeskform .form_header{
   float:left;
   width: 100%;
   padding-bottom: 0px;
   }
.confirmpaymentbyzendeskform .form_header h3{
   float:left;
   margin-left: 30px;
   }
 .confirmpaymentbyzendeskform .form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }

.confirmpaymentbyzendeskform label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    width: 84px;
}
.confirmpaymentbyzendeskform input[type="text"]{
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    float: left;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1em;
    line-height: 140%;
    margin: 5px;
    padding: 3px;
    width: 198px;
}
.confirmpaymentbyzendeskform .submit_form_button{float:left;width:100%; text-align: center;}

/* For courier change */
.changecourierform{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 999;
    right:30%; 
    margin-top:40px;;
    padding: 10px;
    }
.changecourierform .form_header{
   float:left;
   width: 100%;
   padding-bottom: 0px;
   }
.changecourierform .form_header h3{
   float:left;
   margin-left: 30px;
   }
 .changecourierform .form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }

.changecourierform label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    width: 84px;
}
.changecourierform input[type="text"]{
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    float: left;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1em;
    line-height: 140%;
    margin: 5px;
    padding: 3px;
    width: 198px;
}
.changecourierform .submit_form_button{float:left;width:100%; text-align: center;}
.addeditcustomercommentform{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 400px;
    z-index: 999;
    right:30%; 
    margin-top:40px;;
    padding: 10px;
 }
.addeditcustomercommentform textarea{
 	float:left;
 	width:370px;
 	border: 1px solid #bcbcbc;
 	padding: 10px;
 	min-height: 55px;
 	resize: vertical;
 	margin-bottom: 9px;
 	color: gray;
 }
.pickup_header{
	display:none;
}
.fedex{
	margin-bottom: 25px;
	border: 2px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;padding-top: 12px;
	width: 725px;
	margin:35px auto 0;
	padding: 10px;
}
.output{
	
	margin-left:300px;
}
.submit_pickup_button{
	background: none repeat scroll 0 0 #2892EC;
    border: 1px solid #EFEFEF;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 500;
    width: 130px;
    margin-left:265px;
}
/* edit billing form */
#showReversePickup{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 999;
    top:60%;
    left:21%;
    padding: 10px;
    }
#showReversePickup .form_header{
   float:left;
   width: 100%;
   }
#showReversePickup .form_header h2{
   float:left;
   }
 #showReversePickup .form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }
#showReversePickup .required{
float:left; color:red;font-size:10px;width:118px;
}
#showReversePickup label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    width: 84px;
}
#showReversePickup input[type="text"], textarea, select {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    float: left;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1em;
    line-height: 140%;
    margin: 5px;
    padding: 3px;
    width: 198px;
}
#showReversePickup .submit_form_button{float:left;width:100%; text-align: center;}

/****** Personal Message *****/
.productpersonalmsg{
    display: none;
    border: 1px solid #000000;
    position: absolute;
    padding: 0;
    z-index: 999;
    left:21%;
    margin-top:0px;
    padding: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

/****** Jewels size *****/
.jewelssize{
    display: none;
    border: 1px solid #000000;
    position: absolute;
    padding: 0;
    z-index: 999;
    left:21%;
    margin-top:0px;
    padding: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

/******* Gift Message ********/
.giftmessageform{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 999;
    left:7.5%; 
    margin-top:88px;;
    padding: 10px;
    }
.giftmessageform .gift_form_header{
   float:left;
   width: 100%;
   padding-bottom: 20px;
   }
.giftmessageform .gift_form_header h2{
   float:left;
   margin-left: 75px;
   }
 .giftmessageform .gift_form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }

.giftmessageform label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    width: 84px;
}
.giftmessageform input[type="text"]{
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    float: left;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1em;
    line-height: 140%;
    margin: 5px;
    padding: 3px;
    width: 198px;
}
.giftmessageform .submit_form_button{float:left;width:100%; text-align: center;}

/******* Close Order ********/
.closeOrder{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 350px;
    z-index: 999;
    left: 62%;
    top: 42%;
    padding: 10px;
    }
.closeOrder .close_order_form_header{
   float:left;
   width: 100%;
   padding-bottom: 20px;
   }
.closeOrder .close_order_form_header h2{
   float:left;
   margin-left: 75px;
   }
 .closeOrder .close_order_form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }

.closeOrder label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    width: 84px;
}
.closeOrder input[type="text"]{
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    float: left;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1em;
    line-height: 140%;
    margin: 5px;
    padding: 3px;
    width: 198px;
}
.closeOrder .submit_form_button{float:left;width:100%; text-align: center;}


/* edit billing form */
.convertToPrepaid{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 350px;
    z-index: 999;
    left: 50%;
    top: 60%;
    padding: 10px;
    }
.convertToPrepaid .form_header{
   float:left;
   width: 100%;
   }
.convertToPrepaid .form_header h3{
   float:left;
   }
 .convertToPrepaid .form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }
.convertToPrepaid .required{
float:left; color:red;font-size:10px;width:118px;
}
.convertToPrepaid label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    margin-top: 10px;
    width: 84px;
}
.convertToPrepaid  select {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    float: left;
    font-family: Arial,Verdana,sans-serif;
    font-size: 14px;
    line-height: 140%;
    margin: 5px;
    padding: 3px;
    width: 235px;
}
.convertToPrepaid .submit_form_button{float:left;width:100%; text-align: center;}

.multiselect {
    width:250px;
    height:80px;
    border:solid 1px #c0c0c0;
    overflow:auto;
    margin-left:5px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    word-wrap: break-word;
}
 
.multiselect label {
    display:block;
    font-weight:none;
}
 
.multiselect-on {
    color:#ffffff;
    background-color:#000099;
}


/* Select Contact Lens Base Curve */
#BCForm{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 350px;
    z-index: 999;
    left: 30%;
    top: 25%;
    padding: 30px;
    }
#BCForm .form_header{
   float:left;
   width: 100%;
   }
#BCForm .form_header h3{
   float:left;
   }
 #BCForm .form_header a{
    
    text-decoration: none;
    float:right;
   }
   
 #showFinalscanLog{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 800px;
    z-index: 999;
    top:60%;
    left:10%;
    padding: 10px;
    }
    
 #shippingHistory{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 540px;
    z-index: 999;
    top:70%;
    left:14%;
    padding: 10px;
    }
    #brandview{
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    margin-left: -160px;
    padding: 10px;
    position: absolute;
    bottom: 160px;
    width: 473px;
    z-index: 999;
    margin-left:-127px;
    color:red;
}

.buffer_stock{float:left;width:100%;}
.buffer_stock .buffer_stock_center{margin: 0 auto;padding: 50px;width: 1090px;min-height: 50px;}


.upgradeProduct{
	display: none; 
	border: 1px solid #000000; 
	position: absolute; 
	padding: 0; 
	z-index: 999; 
	left:25%; 
	margin-top:0px;
	padding: 10px; 
	background: none repeat scroll 0 0 #FFFFFF; 
	border-radius: 10px 10px 10px 10px;
}
