body
{
/*background:url(/public/images/bg.jpg) no-repeat center top #310b28;*/
font-family:Arial, Helvetica, sans-serif;
padding:0;
font-size:12px;
margin:0 auto;
color: #0e4354;
}
.clear{
clear:both;
}
a{
color:#256c89;
}
h2{
font-size:18px;
color:#256c89;
font-weight:normal;
padding:0px 0 15px 0;
margin:0px;
clear:both;
}
h3{
font-size:18px;
color:#256c89;
font-weight:normal;
padding:15px 0 5px 20px;
margin:0px;
float:left;
clear:both;
}
a.forgot_pass{
float:right;
color:#256c89;
text-decoration:none;
background:url(/public/images/help.png) no-repeat left;
padding:0 0 0 18px;
display:block;
margin:15px 20px 0 0;
}
#main_container{
width:100%;
padding:0px 0 0px 0;
min-width: 1335px;
}
.header{
width:100%;
height:50px;
}
.header_login{
width:600px;
margin:auto;
}
.logo{
float:left;
padding:15px 10px 0;
}
#clock_a{
float:right;
padding:15px 0 0 0;
}
.jclock{
color:#FFFFFF;
float:right;
font-size:22px;
font-weight:bold;
padding:34px 25px 0 0;
}
.right_header{
width:350px;
float:right;
text-align:right;
color:#FFFFFF;
padding:20px 0 0 0;
}
.right_header a{
margin:0 5px 0 5px;
text-decoration:none;
color:#FFFFFF;
}
.right_header a.messages{
background:url(/public/images/comment.png) no-repeat right;
padding-right:20px;
}
.right_header a.logout{
background:url(/public/images/user_logout.png) no-repeat right;
padding-right:20px;
}

.main_content{
width:100%;

}
.footer{width:900px;height:87px;}
.footer_login{width:600px;margin:auto;}

.left_footer{float:left;padding:25px 0 0 10px;color:#a8549b;font-size:11px;}
.left_footer a{color:#FFFFFF;text-decoration:none;}
.right_footer{float:right;padding:25px 10px 0 0;}

.left_footer_login{float:left;color:#a8549b;font-size:11px;}
.left_footer_login a{color:#FFFFFF;text-decoration:none;}
.right_footer_login{float:right;padding:15px 10px 0 0;}
/*---------------- menu----------------------*/
.menu {    background: none repeat scroll 0 0 #256C89;background:url(/public/images/menu_bg.gif);float: left;font-size: 11px;padding: 0 13px;width: 98%;}
/* remove all the bullets, borders and padding from the default list styling */
.menu ul {padding:0;margin:0;list-style-type:none; height:34px;}

/* style the sub-level lists */
.menu ul ul {width: auto;}

/* float the top list items to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu ul li {float:left;height:34px;line-height:34px;}

/* style the sub level list items */
.menu ul ul li {display:block;width: auto;height:auto;position:relative;line-height:1em;}

/* style the links for the top level */
.menu a, .menu a:visited {display:block;float:left;height:100%;font-size:11px;text-decoration:none;color:#fff;padding:0 21px 0 17px;}
.menu a.current{background:url(/public/images/menu_bg.gif) repeat-x center;}
/* style the sub level links */
.menu ul ul a, .menu ul ul a:visited {display:block;background:#57c0e8; border-bottom:1px #81dafc solid; color:#fff;width:12em;height:100%;line-height:1em;padding:1em 1em;}
.menu ul table ul a, .menu ul table ul a:visited  {width:14em; w\idth:12em;}


/* style the table so that it takes no part in the layout - required for IE to work */
.menu table {position:absolute; left:0; top:0; font-size:1em; z-index:-1;}
.menu ul ul table {lef\t:-1px;}
.menu ul ul table ul.left {margin-lef\t:2px;}

.menu li:hover {position:relative;}
* html .menu a:hover {position:relative;}

/* style the third level background */
.menu ul ul ul a, .menu ul ul ul a:visited {background:#57c0e8;}
/* style the fourth level background */
.menu ul ul ul ul a, .menu ul ul ul ul a:visited {background:#57c0e8;}
/* style the sub level 1 background */
.menu ul :hover a.sub1 {background:url(/public/images/arrow.gif) no-repeat right #309dc7;}
/* style the sub level 2 background */
.menu ul ul :hover a.sub2 {background:url(/public/images/arrow.gif) no-repeat right #088bb4;}

/* style the level hovers */
/* first */
.menu a:hover {color:#fff;background:url(/public/images/menu_bg.gif) repeat-x center;}
.menu :hover > a {color:#fff;background:url(/public/images/menu_bg.gif) repeat-x center;}
/* second */
.menu ul ul a:hover{color:#fff;background:url(/public/images/menu_bg_a.gif) repeat-x center;}
.menu ul ul :hover > a {color:#fff;background:url(/public/images/menu_bg_a.gif) repeat-x center;}
/* third */
.menu ul ul ul a:hover {background:url(/public/images/menu_bg_a.gif) repeat-x center;}
.menu ul ul ul :hover > a {background:url(/public/images/menu_bg_a.gif) repeat-x center;}
/* fourth */
.menu ul ul ul ul a:hover {background:url(/public/images/menu_bg_a.gif) repeat-x center;}


/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {visibility:hidden;position:absolute;height:0;top:34px;left:0;width:14em; z-index:999;}

/* position the third level flyout menu */
.menu ul ul ul{left:14em;top:0;width:14em;}

/* position the third level flyout menu for a left flyout */
.menu ul ul ul.left {left:-14em;}


/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul, .menu ul a:hover ul {visibility:visible; height:auto; padding-bottom:3em; background:transparent url(/public/images/trans.gif);}
/* keep the third level hidden when you hover on first level list OR link */
.menu ul :hover ul ul{visibility:hidden;}
/* keep the fourth level hidden when you hover on second level list OR link */
.menu ul :hover ul :hover ul ul{visibility:hidden;}
/* make the third level visible when you hover over second level list OR link */
.menu ul :hover ul :hover ul{visibility:visible;}
/* make the fourth level visible when you hover over third level list OR link */
.menu ul :hover ul :hover ul :hover ul {visibility:visible;}


.center_content{
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    float: left;
    padding: 10px 13px;
    width: 98%;
/*height:550px;*/
}

.left_content{
width:195px;
float:left;
padding:30px 0 0 20px;
}
.right_content{
min-height:480px;
 width: 100%;
float:left;

}
.right_contentMEI{
min-height:150px;
 width: 100%;
float:left;

}
.sidebarmenu{
margin:0px 0;
padding:0;
width:195px;
}
.sidebarmenu a.menuitem{background:url(/public/images/sidebar_menu_top.gif) no-repeat center top;
color: #fff;display: block;position: relative;width:185px;height:31px;margin:0 0 5px 0;line-height:31px;padding:0px 0 0 10px;text-decoration: none;
}
.sidebarmenu a.menuitem_green{background:url(/public/images/green_bt.gif) no-repeat center top;
color: #fff;display: block;position: relative;width:185px;height:31px;margin:0 0 5px 0;line-height:31px;padding:0px 0 0 10px;text-decoration: none;
}
.sidebarmenu a.menuitem_red{background:url(/public/images/red_bt.gif) no-repeat center top;
color: #fff;display: block;position: relative;width:185px;height:31px;margin:0 0 5px 0;line-height:31px;padding:0px 0 0 10px;text-decoration: none;
}
.sidebarmenu a.menuitem:hover{background:url(/public/images/sidebar_menu_top_a.gif) no-repeat center top;}
.sidebarmenu a.menuitem_green:hover{background:url(/public/images/green_bt_a.gif) no-repeat center top;}
.sidebarmenu a.menuitem_red:hover{background:url(/public/images/red_bt_a.gif) no-repeat center top;}

.sidebarmenu a.menuitem:visited, .sidebarmenu .menuitem:active{
color: white;
}
.sidebarmenu a.menuitem .statusicon{
position: absolute;
top:11px;
right:7px;
border: none;
}

.sidebarmenu div.submenu{
background: white;
}
.sidebarmenu div.submenu ul{ 
list-style-type: none;
margin: 0;
padding: 0 0 5px 0;
}
.sidebarmenu div.submenu ul li{
border-bottom: 1px dotted #bfd1d9;
}
.sidebarmenu div.submenu ul li a{
display: block;
color: black;
text-decoration: none;
padding:5px 0;
padding-left: 10px;
}
.sidebarmenu div.submenu ul li a:hover{
background: #e2f0ff;
color: #0e4354;
}

.sidebar_search{
background:url(/public/images/sidebar_menu_top.gif) no-repeat center;
width:195px;
height:31px;
margin:0 0 5px 0;
}
input.search_input{
width:155px;
height:16px;
margin:5px 0 0 5px;
border:1px #bdebfd solid;
background:#92dbf8;
padding:4px 0 0 2px;
float:left;
color:#096184;
font-size:11px;
}
input.search_submit{
float:left;
background:none;
border:none;
margin:7px 0 0 8px;
}
#rounded-corner
{
margin:0px;
width:100%;
text-align: left;
border-collapse: collapse;
}
#rounded-corner thead th.rounded-company
{
width:26px;
background: #60c8f2 url('/public/images/left.jpg') left top no-repeat;
}
#rounded-corner thead th.rounded-q4
{
background: #60c8f2 url('/public/images/right.jpg') right top no-repeat;
}
#rounded-corner th
{
padding: 8px;
font-weight: normal;
font-size: 13px;
color: #039;
background: #60c8f2;
}
#rounded-corner td
{
padding: 8px;
background: #Efefef;
border-top: 1px solid #fff;
color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
background: #ecf8fd url('/public/images/botleft.jpg') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
background: #ecf8fd url('/public/images/botright.jpg') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
background: #d2e7f0;
}


#rounded-corner-inv
{
margin:0px;
width:100%;
text-align: left;
border-collapse: collapse;
}
#rounded-corner-inv thead th.rounded-company
{
width:26px;
background: #60c8f2 url('/public/images/left.jpg') left top no-repeat;
}
#rounded-corner-inv thead th.rounded-q4
{
background: #60c8f2 url('/public/images/right.jpg') right top no-repeat;
}
#rounded-corner-inv th
{
padding: 8px;
font-weight: normal;
font-size: 13px;
color: #039;
background: #60c8f2;
}
#rounded-corner-inv td
{
padding: 8px;
background: #Efefef;
border-top: 1px solid #fff;
color: #669;
}
#rounded-corner-inv tfoot td.rounded-foot-left
{
background: #ecf8fd url('/public/images/botleft.jpg') left bottom no-repeat;
}
#rounded-corner-inv tfoot td.rounded-foot-right
{
background: #ecf8fd url('/public/images/botright.jpg') right bottom no-repeat;
}
#rounded-corner-inv tbody tr:hover td
{
background: #d2e7f0;
}


.question {
position: absolute;
display: inline;
text-align: center;
width: 174px;
height: 78px;
font-size: 13px;
line-height: 1.5em;
background: url('/public/images/bubble.png') left top no-repeat;
padding: 10px 0 0 0;
text-shadow: 0px 1px 0px #fff;
margin-left: -7em;
margin-top: -6em;
opacity: 0;
}

.yes{
margin-top: .5em;
margin-right: .5em;
cursor: pointer;
display: inline-block;
width: 63px;
height: 21px;
color: #434d17;
text-shadow: 0px 1px 0px #fff;
background: url('/public/images/buttony.png') left top no-repeat;
}
.cancel {
margin-top: .5em;
margin-right: .5em;
cursor: pointer;
display: inline-block;
width: 63px;
height: 21px;
color: #fff;
text-shadow: 0px 1px 0px #000;
background: url('/public/images/buttonn.png') left top no-repeat;
}

a.bt_green{display:block; float:right; margin:10px 5px 10px 5px; line-height:31px; text-decoration:none; color:#FFFFFF; text-shadow:1px 1px #8fa42b;}
a.bt_green strong{width:auto;height:31px; padding:0 10px 0 10px;display:block; float:left;background:url(/public/images/bt_green_center.gif) repeat-x center;}
a.bt_green span.bt_green_lft{width:10px;height:31px;display:block; float:left;background:url(/public/images/bt_green_left.gif) no-repeat center right;}
a.bt_green span.bt_green_r{width:10px;height:31px;display:block; float:left;background:url(/public/images/bt_green_r.gif) no-repeat center right;}
a:hover.bt_green{ text-decoration:underline;}

a.bt_blue{display:block; float:right; margin:10px 5px 10px 5px; line-height:31px; text-decoration:none; color:#FFFFFF; text-shadow:1px 1px #3597bf;}
a.bt_blue strong{width:auto;height:31px; padding:0 10px 0 10px;display:block; float:left;background:url(/public/images/bt_blue_center.gif) repeat-x center;}
a.bt_blue span.bt_blue_lft{width:10px;height:31px;display:block; float:left;background:url(/public/images/bt_blue_left.gif) no-repeat center right;}
a.bt_blue span.bt_blue_r{width:10px;height:31px;display:block; float:left;background:url(/public/images/bt_blue_r.gif) no-repeat center right;}
a:hover.bt_blue{ text-decoration:underline;}

a.bt_red{display:block; float:right; margin:10px 5px 10px 5px; line-height:31px; text-decoration:none; color:#FFFFFF; text-shadow:1px 1px #c24739;}
a.bt_red strong{width:auto;height:31px; padding:0 10px 0 10px;display:block; float:left;background:url(/public/images/bt_red_center.gif) repeat-x center;}
a.bt_red span.bt_red_lft{width:10px;height:31px;display:block; float:left;background:url(/public/images/bt_red_left.gif) no-repeat center right;}
a.bt_red span.bt_red_r{width:10px;height:31px;display:block; float:left;background:url(/public/images/bt_red_r.gif) no-repeat center right;}
a:hover.bt_red{ text-decoration:underline;}

.sidebar_box{
width:195px;
padding:15px 0 5px 0;
}
.sidebar_box_top{width:195px;height:8px;background:url(/public/images/sidebar_box_top.gif) no-repeat center bottom;}
.sidebar_box_bottom{width:195px;height:8px;background:url(/public/images/sidebar_box_bottom.gif) no-repeat center bottom;}
.sidebar_box_content{width:175px;height:auto;background-color:#ecf8fd; padding:0 10px 0 10px;}

.sidebar_box_content h3{ color:#49bae8; float:left; font-size:18px; margin:0px;padding:0px; font-weight:normal;}
.sidebar_box_content h4{ color:#f75744; float:left; font-size:18px; margin:0px;padding:0px; font-weight:normal;}
.sidebar_box_content h5{ color:#a4bf40; float:left; font-size:18px; margin:0px;padding:0px; font-weight:normal;}
.sidebar_box_content p{padding:5px 0 5px 0; margin:0px; clear:both; font-size:11px; text-align:left; line-height:17px;}
/public/images/img.sidebar_icon_right{
float:right; padding:0 0 0 0;
}
.sidebar_box_content ul{
list-style:none;
padding:10px 0 10px 0;
margin:0px;
clear:both;
}
.sidebar_box_content ul li{
padding:5px 0 5px 10px;
background:url(/public/images/list_bullet.gif) no-repeat left top;
background-position:0px 10px;
}


.warning_box{width:540px;clear:both;background:url(/public/images/warning.png) no-repeat left #fcfae9;
border:1px #e9e6c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0;}

.valid_box{width:540px;clear:both;background:url(/public/images/valid.png) no-repeat left #edfce9;
border:1px #cceac4 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0;}

.error_box{width:540px;clear:both;background:url(/public/images/error.png) no-repeat left #fce9e9;
border:1px #eac7c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0;}

/*--------------*/
div.pagination {
width: 98%;
clear:both;
padding:10px 0 10px 0;
margin:0px;
text-align:center;
float:left;
clear:both;
font-size:11px;
}

div.pagination a {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #52bfea;
text-decoration: none; 
color: #52bfea;
}
div.pagination a:hover, div.pagination a:active {
border:1px solid #52bfea;
color: #fff;
background-color: #52bfea;
}
div.pagination span.current {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #52bfea;
font-weight: bold;
background-color: #52bfea;
color: #FFF;
}
div.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #f3f3f3;
color: #ccc;
}

/************ Css for order detail page****************/
.salesleftbox_container{
	float:left;
	 width: 100%;
}
.salesleftbox_container .group_info_view{
		float:left;
	 width: 423px;
	 margin: 5px;
	  border: 1px solid #AAAAAA;
}
.salesleftbox_container .group_info_view h2.group_name {
    background: none repeat scroll 0 0 #6F8992;
    color: #FFFFFF;
    float: left;
    font-size: 1em;
    line-height: 18px;
    padding: 1px 5px;
    width: 413px;
    font-weight: bold;
}
 .salesleftbox_container .group_info_view table tr td{
color: #353535 !important;
 }
 .salesleftbox_container .group_info_view table tr td.dynamic_content{}

/************ order detail page****************/

.order_detils{
  float:left;
  width:100%;
  }
   .order_detils .order_detils_row_odd{
  float:left;
  width:100%;
 background: none repeat scroll 0 0 #EFEFEF;
   padding: 5px;
  }
     .order_detils .order_detils_row_even{
  float:left;
  width:100%;
  background: none repeat scroll 0 0 #60c8f2;
   padding: 4px;
  }
    .order_detils_row_cust{
     border-right: 1px solid #353535;
    float: left;
    padding: 3px 9px;
  }
  .order_detils_row_col{
    float: left;
    overflow: hidden;
    padding: 2px 9px;
    word-wrap: break-word;
    }
.product_status{
    border: 1px solid #353535;
    color:#000;
    float: center;
	height:30px;
	width:54px;
	margin: 5px;
}
.product_status_info{
	display:none
}
/* Comment insert form on 4 Jan 2013 */
.comment_insert{
	float:left;
	width:100%;
    border: 1px solid #CCCCCC;
   padding:3px;
   background: none repeat scroll 0 0 #EFEFEF;
}
.comment_insert form{
    float: left;
    padding: 10px;
    width: 410px;
    border-left: 1px solid #CCCCCC;
    }
.comment_insert form label{
float:left;
width:150px;
margin-top: 10px;
    }
.comment_insert form input, .comment_insert form textarea{
float:left;
width:250px;
margin-top: 10px;
  border: 1px solid #AAAAAA;
}
.comment_insert .comment_order_cust{
float:left;
width:640px;
}
/* edit shipping form 5 jan 2013 */
#editShipping{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 999;
    top:25%;
    left:25%;
    padding: 10px;
    }
#editShipping .form_header{
   float:left;
   width: 100%;
   }
#editShipping .form_header h2{
   float:left;
   }
 #editShipping .form_header a{
   float:right;
   }
#editShipping .required{
float:left; color:red;font-size:10px;width:118px;
}
#editShipping label {
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    width: 100px;
     margin: 5px;
     color: #000000;
}
#editShipping input[type="text"], textarea {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1em;
    line-height: 140%;
    padding: 3px;
    float: left;
     margin: 5px;
}
#editShipping .submit_form_button{float:left;width:100%; text-align: center;}

.product_status_button{
	background: #3399ff; 
	color: #000; border: 1px solid #000; 
	padding: 3px; 
}

#product_status_popup{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #000000;
    border-radius: 5px 5px 5px 5px;
    cursor: default;
    display: none;
    height: auto;
    left: 58%;
    position: absolute;
    top: 60%;
    width: auto;;
    
}
/* useer info block 8 Jan 2013*/
.menu .cs_user_mngt  {
float:left;
width:60%;
}
.menu .cs_user_details{
float:right;
width:250px;
line-height: 34px;
}
.menu .cs_user_details a{
	float:right;
}
/* activ user block */
.activ_rols{float:left;width:100%;padding: 10px 0;text-align:center;color: red;}
.activ_rols span{float:left;width:100px;font-size:16px;text-align:left;color: #0E4354;}

/* Create user adit role form  */
.right_content .form{padding: 5px 0 20px;}

#Export-button{text-decoration: none;padding: 5px; text-align: center;color: #FFFFFF;background:#005CB9;}

/* RCB Status form */
.rcbStatusForm{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 999;
	right:40%; 
    padding: 10px;
    }
.rcbStatusForm .form_header{
   float:left;
   width: 100%;
   }
.rcbStatusForm .form_header h2{
   float:left;
   }
 .rcbStatusForm .form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }
.rcbStatusForm .required{
float:left; color:red;font-size:10px;width:118px;
}
.rcbStatusForm label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    width: 84px;
}
.rcbStatusForm input[type="text"], textarea, select {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    float: left;
    font-family: Arial,Verdana,sans-serif;
    font-size: 1em;
    line-height: 140%;
    margin: 5px;
    padding: 3px;
    width: 198px;
}
.rcbStatusForm .submit_form_button{float:left;width:100%; text-align: center;}
.pay_method a{float:left;position:relative;}
.RcbComments{
	display: none; 
	border: 1px solid #000000; 
	position: absolute; 
	padding: 0; 
	z-index: 999; 
	right:25%; 
	margin-top:-25px;
	padding: 10px; 
	background: none repeat scroll 0 0 #FFFFFF; 
	border-radius: 10px 10px 10px 10px;
}

/***** Comment block ******/
.cust_comment_block{float:left;width:348px;border: 3px solid #bcbcbc;text-align: center;}
.cust_comment_block .comment_box{float:left;width:320px;border-bottom: 3px solid #bcbcbc;padding: 14px;}
.cust_comment_block .comment_box textarea{float:left;width:297px;border: 1px solid #bcbcbc;padding: 10px;min-height: 55px;resize: vertical;margin-bottom: 9px;color: gray;}
.cust_comment_block .comment_box .process_n{float:left;width:145px;text-align: left;padding: 15px 2px 0; color: #2D2D2D;border: medium none;}
.cust_comment_block .comment_box .process_n option{}
.cust_comment_block .comment_box .comment_submit{float: right;width:130px;background: none repeat scroll 0 0 #2892EC;color: #FFFFFF;font-size: 22px;font-weight: 500;border: 1px solid #EFEFEF;}
.cust_comment_block .comment_display{    float: left;
    font-size: 14px;
    max-height: 350px;
    overflow: auto;
    padding: 14px;
    width: 320px;}
.cust_comment_block .comment_display .comment_info{float:left;width:100%;}
.cust_comment_block .comment_display .cust_img{float:left;width: 50px;}
.cust_comment_block .comment_display .cust_name_b{float:left;width:260px;text-align: left;font-size: 11px;}
.cust_comment_block .comment_display .cust_name_b .cust_name{float:left;width:100%}
.cust_comment_block .comment_display .comment_text{float:left;width:100%;text-align: left;padding-bottom: 10px;border-bottom: 1px solid #bcbcbc;}


/********** Customer Information**********/
.cust_info{
margin: 0 auto;padding: 10px;width: 975px;
}
.cust_info .cust_info_left{
float:left;padding: 13px;width:600px;
}
.cust_info .cust_info_right{
float:right;padding: 13px;width: 320px;
}
.cust_quick_info_block{
float:left;margin-bottom: 25px;border: 2px solid #CCCCCC;border-radius: 3px 3px 3px 3px;padding-top: 12px;width: 600px;
}
.cust_info_reward_points{
float:left;margin-bottom: 25px;border: 2px solid #CCCCCC;border-radius: 3px 3px 3px 3px;padding-top: 12px;width: 600px;
}
.cust_info_address{
margin-bottom: 25px;border: 2px solid #CCCCCC;border-radius: 3px 3px 3px 3px;padding-top: 12px;width: 300px;min-height: 300px;
}
.massSMSPendingOrders {
	background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #AAAAAA;
    color: #000000;
    margin-left: 255px;
    margin-top: 10px;
    padding: 3px;
}

/* PO Update Vendor's Form */
.updateVendorForm{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 999;
	right:40%; 
	margin-top:-100px;;
    padding: 10px;
    }
.updateVendorForm .form_header{
   float:left;
   width: 100%;
   }
.updateVendorForm .form_header h2{
   float:left;
   }
 .updateVendorForm .form_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }
.updateVendorForm .required{
float:left; color:red;font-size:10px;width:118px;
}
.updateVendorForm label {
   color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    
    font-weight: bold;
    margin: 5px;
    width: 84px;
}
.updateVendorForm input[type="text"], textarea, select {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    
    font-family: Arial,Verdana,sans-serif;
   
    line-height: 140%;
    margin: 5px;
    padding: 3px;
    width: 198px;
}
.updateVendorForm .submit_form_button{float:left;width:100%; text-align: center;}
.PO_rn{float: left;border: 2px solid #CCCCCC;margin: 20px;padding: 20px;}
.PO_rn h2{text-align:center;}
table#bal_amount tr td{padding:5px;}
table#bal_amount tr td input{margin-left:5px;}

table.po_g_info {
    border-collapse: collapse;
    word-wrap: break-word;
    float:left;
}
table.po_g_info tr td {
    border: 2px solid #CCCCCC;
    padding: 10px;
    vertical-align: top;
}

table.po-in_info {
    border-collapse: collapse;
    word-wrap: break-word;
    float:left;
        border: 2px solid #CCCCCC;
        margin:15px 0px;
}
table.po-in_info tr td {
    padding: 10px;
    vertical-align: top;
}
table.po-in_info tr td span{    float: left;
    font-weight: bold;
    margin-top: 10px;
    width: 130px;
    padding:0px 0px 0px 15px;
}

table.po-in_info tr td input{ 
  float: left;
    width: 120px;
    }
    
    /**************** Followup css start *************/

.editpickercomments{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 999;
    left:7.5%; 
    padding: 10px;
    }

.editpickercomments .comments_header{
   float:left;
   width: 100%;
   padding-bottom: 20px;
   }
.editpickercomments .comments_header h2{
   float:left;
   margin-left: 75px;
   }
 .editpickercomments .comments_header a{
    padding-top: 10px;
    text-decoration: none;
    float:right;
   }
.editpickercomments .edit_comments_button{float:left;width:100%; text-align: center;}
   /**************** Followup css ends *************/
   
   /*************SPH CYL AP start ********************/ 
   .sph{
   	color:#04B404;
   	font-weight:bold;
   	font-size:16px;
   }
   .cyl{
   	color:#DF0101;
   	font-weight:bold;
   	font-size:16px;
   }
   .ap{
   	color:#842DCE;
   	font-weight:bold;
   	font-size:16px;
   }
   .bc{
   	color:#2B60DE;
   	font-weight:bold;
   	font-size:16px;
   }
   .axis{
   	color:#8B4513;
   	font-weight:bold;
   	font-size:16px;
   }
   
   /*************SPH CYL AP Ends ********************/ 
  
   /************ PO GRN View CSS Starts********************/
    #extraProducts
{
margin:0px;
width:100%;
text-align: left;
border-collapse: collapse;
}
#extraProducts thead th.rounded-company
{
width:26px;
background: #60c8f2 url('/public/images/left.jpg') left top no-repeat;
}
#extraProducts thead th.rounded-q4
{
background: #60c8f2 url('/public/images/right.jpg') right top no-repeat;
}
#extraProducts th
{
padding: 8px;
font-weight: normal;
font-size: 13px;
color: #039;
background: #60c8f2;
}
#extraProducts td
{
padding: 8px;
background: #Efefef;
border-top: 1px solid #fff;
color: #669;
}
#extraProducts tfoot td.rounded-foot-left
{
background: #ecf8fd url('/public/images/botleft.jpg') left bottom no-repeat;
}
#extraProducts tfoot td.rounded-foot-right
{
background: #ecf8fd url('/public/images/botright.jpg') right bottom no-repeat;
}
#extraProducts tbody tr:hover td
{
background: #d2e7f0;
}
   
   /************ PO GRN View CSS Ends  ********************/

/*Unicom CSS Start*/
.requestedDataDetails {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    display: none;
    left: 21%;
    margin-top: 0;
    margin-left: 190px;
    padding: 10px;
    position: absolute;
    z-index: 999;
}

#followup_today_hide , #followup_today_details{
  display: none;
}

/*Unicom CSS Ends*/
   
   
